/* Reset di base */
body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
}

/* Corpo della pagina */
body {
    font-family: 'Poppins', sans-serif; /* Carattere moderno e rotondo */
    background-color: #00645c; /* Colore caldo e accogliente */
    color: #000000; /* Colore marrone chiaro per contrasto */
    line-height: 1.6;
    align-items: center;
}

/* Header */
header {
    background-color: #00645c; /* Colore caldo per il titolo */
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 1px dotted #000000;
    
    
}

/* Main */
main {
    text-align: center;
    padding: 1px;
}

/* Sezione */
section {
    background-color: #00645c; /* Sfondo chiaro per il contrasto */
    margin-top: 10px;
    padding: 50px;
    margin-bottom: auto;
    border-color:  #000000;
    border-bottom:1px solid #000000;

}

/* Icona SVG */
svg {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

/* Tabella */
table {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    border: 1px solid #5F4B3B;
    text-align: center;
}

table th {
    background-color: #F4A300;
    color: white;
}

/* Footer */
footer {
    background-color: #5F4B3B;
    color: white;
    text-align: center;
    padding: 100px;
    margin-top: 10px;
}
.button{
    border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}
.button1 {
    background-color: rgb(69, 137, 118); 
    color: black; 
    border: 5px solid #003421;
  }
  
.button1:hover {
    background-color: #00645c;
    color:black;
    border:black;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

nav{
    background-color: #00645c;
    text-align: end;
}

nav button {
    background-color: #00645c;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor:cell;
    
}

nav ul{

    padding: 10px 15px;
}

nav li {
    list-style-type:none; /* Rimuove i bullet points */
    display: inline;
    padding: 10px 15px;
    background-color: #00645c;
    text-align: center;
    border-bottom: 1px solid #000000;
}


nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
}

nav a:hover {
 
    color: #000;
}